.cart-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  height: 10vh;
}
.cart-container {
  background: url("../images/another-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
.product-list {
  backdrop-filter: blur(5px) brightness(50%);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 50vw;
}
.cart-container .left-container{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 75vh;
}
.cart-container .left-container::-webkit-scrollbar {
  display: none;
}
.product-item {
  display: flex;
  flex-direction: row;
  height: max-content;
  padding: 2vw;
  margin: 1vw;
  font-size: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.401);
}
.product-item:nth-child(1) {
  border: none;
}
.product-item .name {
  font-size: 2rem;
}
.product-item .product-image {
  height: 20vw;
  width: 20vw;
  margin-right: 1vw;
}
.product-item .product-image img {
  width: 100%;
  height: 100%;
}
.product-item .info-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info-section {
  margin: 1vw 0;
}
.info-section .label {
  opacity: 0.8;
  font-size: 0.7rem;
}
.right-container {
  backdrop-filter: blur(5px) brightness(50%);
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50vw;
  padding: 2rem;
}
.right-container .total-price {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
.right-container button {
  width: 10vw;
  padding: 1rem;
  background-color: black;
  margin: 0.2rem 0;
  border: solid white 1px;
}
.right-container button:hover {
  background-color: white;
  color: black;
}
.right-container button:active {
  background-color: rgba(255, 255, 255, 0.587);
}

.size-select {
  padding: 0.5rem;
  background-color: black;
}
.quantity-select {
  padding: 0.5rem;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.645);
}
.login-container {
  margin: 2rem;
  font-size: 1.5rem;
}
.login-container a {
  text-decoration: underline;
  color: white;
  font-size: 1rem;
}
