.image-scroller-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.image-scroller-container .title {
  text-align: center;
  opacity: 0.8;
  font-weight: 100;
  letter-spacing: 0.5rem;
  margin: 0.2vw 0;
  box-shadow: 3px 0 3px 0 rgba(255, 255, 255, 1);
}
.image-scroller {
  margin: 1rem 0;
  height: 50vh;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.image-scroller::-webkit-scrollbar {
  display: none;
}
.scroll-image {
  flex: 0 0 auto;
  width: 20vw;
  height: 50vh;
  /* margin-right: 0.5rem; */
  cursor: pointer;
  transition: transform 0.2s;
  object-fit: cover;
}

.scroll-image:hover {
  transform: scale(1.1);
}

.image-scroller-container .link-container a {
    font-size: 1.1rem;
  color: white;
  text-decoration: none;
}
.image-scroller-container .link-container a:hover {
  text-decoration: underline;
}
.image-scroller-container .link-container a:active {
  opacity: 0.5;
}
.image-scroller-container .link-container a:visited {
  color: #b9b9b9;
}
.image-scroller-container .link-container {
    margin: 0 2rem;
}
.link-container a{
    width: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.link-container .shop-icon{
    font-size: 1rem;
}
